
.datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable-crud-demo .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
                
.datatable-crud-demo .p-datatable-tbody > tr > td {
    white-space  : nowrap;
    text-overflow: ellipsis;
    overflow    : hidden;
    width       : 220px;
    max-width    : 220px;
}

.datatable-crud-demo .p-datatable-tbody > tr > td.p-selection-column {
    white-space  : normal;
    text-overflow: initial;
    overflow    : visible;
    width       : 220px;
    max-width    : 220px;
}

.datatable-crud-demo .p-datatable-thead > th.p-selection-column {
    text-overflow: initial;
}


.p-datatable .p-datatable-thead > tr > th {
    white-space  : nowrap;
    text-overflow: ellipsis;
    overflow    : hidden;
    /* width       : 100px;
    max-width    : 150px; */
}


.p-datatable .p-datatable-thead > tr > th.p-selection-column {
    text-overflow: initial;

}